.analytics-card {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

.likes-header {
    font-weight:500;
    color: #2D3748;
}

.analytics-list {
    margin-top: 1rem;
}

.list-item-div {
    display: flex;
    align-items: center;
}

.list-item-span {
    height: 0.125rem;
    width: 0.75rem;
}

.analytics-area-chart {
    margin-top: 1.5rem;
    height: 8rem;
    margin-right: 0.5rem;
}

.likes-count {
    font-weight: 500;
    margin-left: 0.25rem;
}

.analytics-list > li {
    display: flex;
    width: 100%;
    flex-direction: row;
}
