/* styles/HomePage.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    overflow: hidden;
  }
  
.dashboard {
    flex-wrap: wrap;
    justify-content: space-evenly;
    display: flex;
    height: 100vh; /* Full viewport height */
    width: 90%;
    margin-left: 10%;
    background-color: #ffffff;
  }
  
  /* Link to access FullCalendar: https://www.npmjs.com/package/@fullcalendar/react */
  .box1 {
    margin-top: 2%;
    margin-right: 2%;
    border-radius: 10px;
    width: 40%;
    height: 40%;
    align-items: center;
    background-color: #f4f4f4;
    border: 1px solid rgb(0, 0, 0);
    overflow: auto;
  }
 
  .box2 {
    margin-top: 2%;
    border-radius: 10px;
    width: 50%;
    height: 40%;
    align-items: center;
    background-color: #f4f4f4;
    border: 1px solid rgb(0, 0, 0);
    overflow: auto;
  }

  .box3 {
    margin-bottom: 3%;
    border-radius: 10px;
    width: 40%;
    height: 40%;
    align-items: center;
    background-color: #f4f4f4;
    border: 1px solid rgb(0, 0, 0);
    overflow: auto;
  }

  .box4 {
    border-radius: 10px;
    width: 50%;
    height: 40%;
    align-items: center;
    background-color: #f4f4f4;
    border: 1px solid rgb(0, 0, 0);
    overflow: auto;
  }
  
  .sidebar {
    background-color: #ffffff; 
    /* color: rgb(3, 0, 0);  */
    height: 100%; /* Full height */
    width: 10%; /* Fixed width */
    position: fixed; /* Fixed position */
    top: 1; /* Position from the top */
    left: 0; /* Position from the left */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    padding-top: 20px; /* Top padding */
    border: 1px solid rgb(0, 0, 0); 
    border-top: #f4f4f4;
    
 }
  
  .sidebar ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
  }
  
  .sidebar ul li {
    padding: 10px 0; /* Vertical padding */
  }
  
  .sidebar ul li a {
    color: rgb(3, 3, 3); /* Text color for links */
    text-decoration: none; /* Remove underline */
    display: block; /* Make links block elements */
    padding: 10px 20px; /* Padding for links */
    transition: 0.3s; /* Smooth transition on hover */
  }
  
  .sidebar ul li a:hover {
    background-color: #009dff; /* Darker background on hover */
  }
  
  /* styles/CommentSection.css */

  
  /* .comment-section {
    padding: 10px;
    border: 1px solid rgb(255, 0, 0);
    margin-top: 1%;
    margin-right: 1%;
  }
  
  .comment-header {
    font-size: 18px;
    font-weight: bold;
    color: #ff0000;
  }
  
  .comment-list {
    list-style-type: none;
    padding-left: 20px; 
    color: #ff0000;
  }
  
  .comment-item {
    margin-bottom: 10px; 
  }
  .comment-section-container::-webkit-scrollbar {
    width: 8px;
  }
  
  .comment-section-container::-webkit-scrollbar-track {
    background:rgb(0, 0, 0)
  }
  
  .comment-section-container::-webkit-scrollbar-thumb {
    background: rgb(255, 0, 0);
  }
  
  .comment-section-container::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255);
  }   */