/* styles/HomePage.css */

body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
  }
  
.dashboard {
    display: grid;
    position: fixed;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-template-rows: repeat(2, 1fr); /* Two rows */
    height: 100vh; /* Full viewport height */
    width: 90%;
    margin-left: 10%;
    background-color: #212121;
  }
  
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 0, 0);
    background-color: #212121;
    border: 1px solid rgb(255, 0, 0);
  }
  
  .sidebar {
    background-color: #212121; /* Dark background color */
    color: #fff; /* Text color */
    height: 100%; /* Full height */
    width: 10%; /* Fixed width */
    position: fixed; /* Fixed position */
    top: 0; /* Position from the top */
    left: 0; /* Position from the left */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    padding-top: 20px; /* Top padding */
  }
  
  .sidebar ul {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
  }
  
  .sidebar ul li {
    padding: 10px 0; /* Vertical padding */
  }
  
  .sidebar ul li a {
    color: rgb(255, 255, 255); /* Text color for links */
    text-decoration: none; /* Remove underline */
    display: block; /* Make links block elements */
    padding: 10px 20px; /* Padding for links */
    transition: 0.3s; /* Smooth transition on hover */
  }
  
  .sidebar ul li a:hover {
    background-color: #ff0000; /* Darker background on hover */
  }
  
  /* styles/CommentSection.css */

.comment-section-container {
    width: 100%; /* Adjust width as needed */
    height: 300px; /* Fixed height */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .comment-section {
    padding: 10px;
    border: 1px solid rgb(255, 0, 0);
    margin-top: 1%;
    margin-right: 1%;
  }
  
  .comment-header {
    font-size: 18px;
    font-weight: bold;
    color: #ff0000;
  }
  
  .comment-list {
    list-style-type: none;
    padding-left: 20px; /* Indent the list */
    color: #ff0000;
  }
  
  .comment-item {
    margin-bottom: 10px; /* Add spacing between comments */
  }
  .comment-section-container::-webkit-scrollbar {
    width: 8px;
  }
  
  .comment-section-container::-webkit-scrollbar-track {
    background:rgb(0, 0, 0)
  }
  
  .comment-section-container::-webkit-scrollbar-thumb {
    background: rgb(255, 0, 0);
  }
  
  .comment-section-container::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255);
  }  