
.dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-template-rows: repeat(2, 1fr); /* Two rows */
    height: 100vh; /* Full viewport height */
  }
  
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border: 1px solid rgb(0, 140, 255);
  }
  