.header {
    color: rgb(0, 0, 0);
    background-color: #C7D2FE;
    display: flex;
    align-items: center;
    height: 3em;
    border: 1px solid rgb(0, 0, 0);
}

.profileIcon {
    margin-left: auto;
    margin-right: 1.5em;
    height: 1.5em;
    width: 1.5em;
    cursor: pointer;
}

.dropdown-menu{
    position: absolute;
    top: 3em;
    right: 1.5em;
    background-color: #faf9f6;
    padding: 10px 20px;
    width: 200px;
    z-index: 999;
    border: 2px solid #f0f0f0;
  }
  
  .dropdown-menu::before{
    content: '';
    position: absolute;
    top: -5px;
    right: 20px;
    height: 20px;
    width: 20px;
    transform: rotate(45deg);
  }
  
  .dropdown-menu.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: 0.5s ease;
  }
  
  .dropdown-menu.inactive{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: 0.5s ease;
  }
  
  .dropdown-menu ul li{
    padding: 10px  0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }
  
  .dropdown-menu ul li:hover span{
    color: rgb(212, 33, 9);
    cursor: pointer;
  }
  
  .dropdownItem{
    display: flex;
    margin: 10px auto;
  }
  
  .dropdownItem span{
    max-width: 100px;
    margin-left: 10px;
  }

  img {
    width: 5%;
    height: 100%;
  }
  
  img:hover {
    cursor: pointer;
  }