.account-page {
    width: 100%;
    height: 100%;
    display: flex;
}

body {
    background-color: #f4f4f4;
}

.profile-sidebar {
    display: flex;
    width: 25%;
    float: left;
    align-items: center;
    justify-content:flex-start;
    flex-direction: column;
    background-color: #ffffff;
    margin: 1rem;
}

.sidebar-item {
    background-color: #ffffff;
    width: 90%;
    height: 2rem;
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-item:hover {
    background-color: #f4f4f4;
    cursor: pointer;
    font-weight: 525;
}


.connections-container {
    background-color: #ffffff;
    overflow: hidden;
    margin: 1rem;
    height: 100%;
}

.connections-header {
    text-align: center;
    margin-top: 1.5em;
}

.connections {
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.5em;
}

.connections div {
    width: 12rem;
    height: 12rem;
    margin: 1em 0;
    padding: 1em;
    font-weight: 700;
    text-align: center;
    border: 2px solid #f0f0f0;
    border-radius: 10px;
    background-color: #ffffff;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.connections button {
    width: 90%;
    height: 20%;
    margin-top: 2.75rem;
    border-radius: 5px;
    background-color: #f4f4f4;
}

.connections a {
    width: 90%;
    height: 20%;
    margin-top: 2.75rem;
    border-radius: 5px;
    background-color: #f4f4f4;
    text-decoration: none;
}

.connections a:hover {
    cursor: pointer;
    background-color: #f0f0f0;
    font-weight: 750;
}

.connections button:hover {
    cursor: pointer;
    background-color: #f0f0f0;
    font-weight: 750;
}

.connections span {
    margin-top: 0.5rem;
}

.connections svg {
    width: 30%;
    height: 30%;
    border-radius: 10px;
    font-size: 1rem;
    margin-top: 1rem;
}

.terms-container-profile-page {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    margin: 1rem;
}

.terms-content-profile-page {
    margin: 1rem;
}

.pp-container-profile-page {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    margin: 1rem;
}

.pp-content-profile-page {
    margin: 1rem;
}

.connections-container,
.terms-container-profile-page,
.pp-container-profile-page {
    flex-grow: 1;
    background-color: #ffffff;
    margin: 1rem;
    height: calc(100vh - 2rem);
    overflow: auto;
    box-sizing: border-box;
}